settings_local.py
sparkles/static/sparkles/js/*.min.js
sparkles/static/sparkles/css/*.min.css
core
*.pyc
*.pyo
*.pyc
*.o
*.bak
*.db
*~
*.rej
*.orig
.figleaf*
*.egg-info
*.egg
._*
.DS_Store
Thumbs.db*
doc/_build
.figleaf*
*.egg-info
*.egg
build
deps
dist
pip-log.txt
