{% extends "sparkles/base.html" %}
{% block title %}Password Reset | {{ block.super }}{% endblock %}
{% block page_title %}Password Reset{% endblock %}
{% block body_class %}password_reset{% endblock %}

{% block content %}
  <div class="content">
    <header class="page-header">
      <h1>User Portal</h1>
    </header>
    <div class="row">
      <div class="span6">
        <form action="." method="post">{% csrf_token %}
          {% include "sparkles/form_errors.html" %}
          <fieldset>
            <p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>
            {% include "sparkles/form_fields.html" %}
            <div>
              <input type="submit" class="btn btn-primary" value="Submit">&nbsp;
              <button type="reset" class="btn">Cancel</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js_init %}{{ block.super }}
  $("id_email").focus();
{% endblock js_init %}
