{% extends "newpass/base.html" %}
{% load i18n %}
{% block title %}Password Reset | {{ block.super }}{% endblock %}
{% block page_title %}Password Reset{% endblock %}
{% block body_class %}password_reset{% endblock %}

{% block content %}
  <div class="content">
    <header class="page-header">
      <h1>User Portal</h1>
    </header>
    <div class="row">
      <div class="span6">
{% if validlink %}
        <h2>{% trans 'Enter new password' %}</h2>
        <form action="." method="post">{% csrf_token %}
          {% include "newpass/form_errors.html" %}
          <fieldset>
            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
            {% include "newpass/form_fields.html" %}
            <div>
              <input type="submit" class="btn btn-primary" value="Submit">&nbsp;
              <button type="reset" class="btn">Cancel</button>
            </div>
          </fieldset>
        </form>
{% else %}
        <h2>{% trans 'Password reset unsuccessful' %}</h2>
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
{% endif %}
      </div>
    </div>
  </div>
{% endblock content %}

{% block js_init %}{{ block.super }}
  $("id_password").focus();
{% endblock js_init %}
