{% extends "sparkles/base.html" %}
{% load i18n %}
{% block title %}Change Password | {{ block.super }}{% endblock %}
{% block page_title %}Change Password{% endblock %}
{% block body_class %}password_change{% endblock %}

{% block content %}
  <div class="content">
    <header class="page-header">
      <h1>User Portal</h1>
    </header>
    <div class="row">
      <div class="span8">
        <form class="form-horizontal" action="." method="post">{% csrf_token %}
          {% include "sparkles/form_errors.html" %}
          <fieldset>
            <legend>Change Password</legend>
            {% include "sparkles/form_fields.html" %}
            <div class="form-actions">
              <input type="submit" class="btn btn-primary" value="Submit">&nbsp;
              <button type="reset" class="btn">Cancel</button>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="span4">
        <h2>Help</h2>
        <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js_init %}{{ block.super }}
  $("#id_old_password").first().focus();
  $("form .error input").first().focus();
{% endblock js_init %}
