{% extends "sparkles/base.html" %}
{% block title %}About | {{ block.super }}{% endblock %}
{% block body_class %}about{% endblock %}
{% block nav_about_class %}active{% endblock %}

{% block content %}
  <div class="content">
    <header class="page-header">
      <h1>
        About Sparkles
        <img src="{{ STATIC_URL }}sparkles/img/favicon.png" width="16" height="16" />
        <small>This is our story.</small>
      </h1>
    </header>
    <div class="row">
      <div class="span9">
        <h2>Lorem Ipſum</h2>
        <p>Lorem ipſum dolor ſit amet, conſectetur adipiſicing elit, ſed do eiuſmod tempor incididunt ut labore et dolore magna aliqua. Ut enimad minim veniam, quis noﬅrud exercitation ullamco laboris niſi ut aliquip ex ea commodo conſequat. Duis aute irure dolor in reprehenderit in voluptate velit eſſe cillum dolore eu fugiat nulla pariatur. Excepteur ſint occæcat cupidatat non proident, ſunt in culpa qui oﬃcia deſerunt mollit anim id eﬅ laborum.</p>
      </div>
      <div class="span3">
        <h3>Contact Information</h3>
        <p>
          Justine Tunney<br />
          jtunney@lobstertech.com
        </p>
      </div>
    </div> <!-- /row -->
  </div>
{% endblock content %}
