<!DOCTYPE html>
<html>
<head>
  {% load gravatar %}
  <meta charset="utf-8" />
  <title>{% block title %}Sparkles!{% endblock title %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="shortcut icon" href="{{ STATIC_URL }}sparkles/img/favicon.png" />
  <meta name="description" content="{% block description %}sparkles{% endblock description %}" />
  <link rel="canonical" href="{% block canonical %}{{ request.path }}{% endblock canonical %}" />
  {% if debug %}
    <link href="{{ STATIC_URL }}sparkles/css/sparkles.less" rel="stylesheet" type="text/less" media="all" />
    <script src="{{ STATIC_URL }}js/less.js"></script>
  {% else %}
    <link href="{{ STATIC_URL }}sparkles/css/sparkles.min.css" rel="stylesheet" type="text/css" media="all" />
  {% endif %}
  {% block extra_head %}
  {% endblock extra_head %}
</head>
<body class="conapp {% block body_class %}{% endblock %}">
  {% block body %}

    <nav class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Sparkles!</a>
          <ul class="nav">
            <li class="{% block nav_home_class %}{% endblock %}"><a href="/">Home</a></li>
            {% if user.is_authenticated %}
              <li class="{% block nav_prop_new_class %}{% endblock %}"><a href="/p/new/">New Prop</a></li>
              <li class="{% block nav_poll_new_class %}{% endblock %}"><a href="/o/new/">New Poll</a></li>
              <li class="{% block nav_group_new_class %}{% endblock %}"><a href="/g/new/">New Group</a></li>
            {% else %}
              <li class="{% block nav_signup_class %}{% endblock %}"><a href="/signup/">Sign up</a></li>
            {% endif %}
            <li class="{% block nav_about_class %}{% endblock %}"><a href="/about/">About</a></li>
          </ul>
          {% if not user.is_authenticated %}
            <form action="/login/" method="post" class="pull-right">{% csrf_token %}
              <input class="input-small" type="text" name="username" placeholder="Username">
              <input class="input-small" type="password" name="password" placeholder="Password">
              <button class="btn primary" type="submit">Sign in</button>
            </form>
          {% else %}
            <ul class="nav secondary-nav">
              <li><a class="userlink" href="/{{ user.username }}/">{% gravatar user 16 %} {{ user.username }}</a></li>
              <li><a href="/logout/">Logout</a></li>
            </div>
          {% endif %}
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="content">
        <header class="page-header">{% block page_header %}
          <h1>
            {% block page_title %}Sparkles{% endblock %}
            <img src="{{ STATIC_URL }}sparkles/img/favicon.png" width="16" height="16" />
            <small>{% block page_subtitle %}A Consensus Building Decision Making Tool{% endblock %}</small>
          </h1>
        {% endblock page_header %}</header>
        <div class="row">
          <div class="span12">
            {% block content %}
            {% endblock content %}
          </div>
          <div class="span4">
            {% block sidebar %}
            {% endblock sidebar %}
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; Occupy Solidarity Network 2012</p>
      </footer>

    </div> <!-- /container -->

  {% endblock body %}
  {% block scripts %}
    {% if debug %}
      <script src="{{ STATIC_URL }}js/jquery.js"></script>
      <script src="{{ STATIC_URL }}js/coffee-script.js"></script>
      <script src="{{ STATIC_URL }}sparkles/js/sparkles.coffee" type="text/coffeescript"></script>
    {% else %}
      <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
      <script src="{{ STATIC_URL }}sparkles/js/sparkles.min.js?v=1"></script>
    {% endif %}
  {% endblock scripts %}
</body>
</html>
