{% extends "sparkles/base.html" %}
{% block title %}Sparkles! | A Consensus Building Decision Making Tool{% endblock title %}
{% block body_class %}index{% endblock body_class %}
{% block nav_home_class %}active{% endblock %}
{% block content %}
  <article>
    <h2>It's better than voting</h2>
    <p>Deeper than a petty bitterness, no one cares why the shadows bleed, delivering me to swirling dust.  in the Hell my frenzy shall beg forgiveness.  oh my blood! the love! they drip my heart and flail madly with all my numbness. in the the gates of hell my torment shall fall limply...</p>
  </article>
{% endblock content %}
