{% extends "sparkles/base.html" %}
{% block body_class %}index{% endblock body_class %}
{% block content %}
  <div id="main" class="wrapper clearfix">
    <article>
      <header>
        <h1>article header h1</h1>
        <p>The unholy memories and the witches follow, no one questions why the damned call your name cunninger than the petty numbness, more frozen than witches in swirling dust.  they melt my wisdom and cry out with all my terror.</p>
      </header>
      <section>
        <h2>article section h2</h2>
        <p>Deeper than a petty bitterness, no one cares why the shadows bleed, delivering me to swirling dust.  in the Hell my frenzy shall beg forgiveness.  oh my blood! the love! they drip my heart and flail madly with all my numbness. in the the gates of hell my torment shall fall limply...</p>
      </section>
      <section>
        <h2>article section h2</h2>
        <p>The angry shadows and the hand of Heaven scour, delivering me to a void deader than damned in broken ground, cunninger than damned in death.  in the nothingness my misery shall beg forgiveness because no one cares why the condemned cry out.</p>
      </section>
      <footer>
        <h3>article footer h3</h3>
        <p>the sickly shadows and the shadows surround, the dead hand of Heaven and the memories approach... OH MY SOUL! THE TERROR!  moroser than stroke of death in my doom and sicklier than shadows in the path that shall deliver me to the witching hour.</p>
      </footer>
    </article>
    <aside>
      <h3>aside</h3>
      <p>Every burning dumpster is a refusal to be productive, a blow against the temporality of liberalism, a recognition of the singular teleology inherent in the articulation of multiplicities.</p>
    </aside>
  </div>
{% endblock content %}
