{% extends "sparkles/base.html" %}
{% block title %}Signup for an Account{% endblock %}
{% block page_title %}Signup for an Account{% endblock %}
{% block page_subtitle %}We're pleased to meet you.{% endblock %}
{% block body_class %}index{% endblock %}
{% block nav_signup_class %}active{% endblock %}

{% block content %}
  {% for error in form.non_field_errors %}
    <div class="alert-message error">{{ error }}</div>
  {% endfor %}
  {% for field in form %}
    {% for error in field.errors %}
      <div class="alert-message error">{{ error }}</div>
    {% endfor %}
  {% endfor %}
  <h2>Information</h2>
  <form action="." method="post">{% csrf_token %}
    <fieldset>
      <div class="clearfix {% if form.username.errors %}error{% endif %}">
        {{ form.username.label_tag }}
        <div class="input">
          {{ form.username }}
          <span class="help-block">{{ form.username.help_text }}</span>
        </div>
      </div><!-- /clearfix -->
      <div class="clearfix {% if form.password.errors %}error{% endif %}">
        {{ form.password.label_tag }}
        <div class="input">
          {{ form.password }}
          <span class="help-block">{{ form.password.help_text }}</span>
        </div>
      </div><!-- /clearfix -->
      <div class="clearfix {% if form.email.errors %}error{% endif %}">
        {{ form.email.label_tag }}
        <div class="input">
          {{ form.email }}
          <span class="help-block">{{ form.email.help_text }}</span>
        </div>
      </div><!-- /clearfix -->
      <div class="actions">
        <input type="submit" class="btn primary" value="Save changes">&nbsp;
        <button type="reset" class="btn">Cancel</button>
      </div>
    </fieldset>
  </form>
{% endblock content %}

{% block js_init %}{{ block.super }}
  $("#id_username").focus();
  $("form .error input").first().focus();
{% endblock js_init %}
